# Ignore everything in except:

/*
!.gitignore
!Dockerfile
!wp-content/
!docker/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
# and "mu-plugins"
wp-content/*	
!wp-content/plugins/
!wp-content/mu-plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins listed below
wp-content/plugins/*
!wp-content/plugins/rest-api
!wp-content/plugins/rest-api-console

# Ignore everything in the "themes" directory, except the Helsingborg theme
wp-content/themes/*
!wp-content/themes/This-is-Helsingborg/